<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Caleb About Me</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <h1 style="color: white">Whats Good</h1>
    <h2 style="color: white">I'm Caleb</h2>

    <div>
    <embed src = "text/CalebFRQ.txt">
    </div>

    <div>
        <img id="img1" src="images/caleb/maskon.png" onclick="toggle()"
             alt="maskon"
             style="height: 540px; width: 420px; display: block; margin-left: auto; margin-right: auto;">
    </div>
    <script>
        function toggle(){
            var imgsrc = document.getElementById("img1").src;
            if (imgsrc.indexOf("images/caleb/maskon.png")!== -1){
                document.getElementById("img1").src = "images/caleb/maskoff.png";
            }
            else{
                document.getElementById("img1").src = "images/caleb/maskon.png"
            }
        }
    </script>
    <div>

    </div>
    <div>
        <form action="/caleb" method="GET" id="triviaForm">
            <button style="width:200px" class="reviewSubmit">Refresh!</button>
        </form>
    </div>

</div>

</body>
</html>