<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Intro</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .parallax {
            /* The image used */
            background-image: url("images/dnslogo.png");

            /* Set a specific height */
            min-height: 500px;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    </head>

    <div class="parallax"></div>
    <br>
    <div id="spring_intro" class="articles" style="margin: 30px; text-align: center; font-family: Geneva; color: white;">
        <h1><strong>Welcome to DN Stonks!</strong></h1>
        <br>
        <h3><strong>Objective:</strong></h3>
        <br>
        <ul style="color: white; list-style: none;">
            <li>Teaching students at Del Norte about the stock market/crypto currency interactively.</li>
            <li>Del Norte Stonks(DNS) will provide a first-hand experience with the US stock market and shareholding.</li>
            <li>On the website, students will learn and develop their general financial literacy skills.</li>
        </ul>
    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>