<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Navodit</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

    </div>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Hello World</h1>

</div>

</body>
</html>