<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navodit' Username Generator</title>
</head>
<body>
<form action="/navodit/frq7" method="GET" id="frq7" style="text-align: center">
    <h1 for="frq2Field">Username</h1>
    <input type="text" name="first" placeholder="First Name" style="width: 125px; height: 25px">
    <br>
    <br>
    <input type="text" name="last" placeholder="Last Name" style="width: 125px; height: 25px">
    <br>
    <br>
    <div>
        <button style="width:200px; background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 8px">
            Submit</button>
    </div>
</form>
<h2 th:each="user : ${list}">
    <h2 th:text="${user}"></h2>
</h2>
</body>
</html>